    .parent {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            width: 100%;
            padding: 25px 0px 25px 0px;
            }
    .div1 { grid-area: 1 / 2 / 2 / 3;
            width: 100%;
            height: 5rem;
            }
    .div2 { grid-area: 1 / 3 / 2 / 4;
            width: 100%;
            height: 5rem;
            }
    .div3 { grid-area: 1 / 4 / 2 / 5;
            width: 100%;
            height: 5rem;}
    .div4 { grid-area: 2 / 2 / 3 / 5;
            background-color: white;
            width: 100%;
            height: 5rem;
            }
    .div5 { grid-area: 3 / 2 / 4 / 5;
            background-color:  #cae7b3;
            width: 100%;
            height: 5rem;
            cursor: pointer;
            }

    .div6 { grid-area: 4 / 2 / 5 / 5;
            background-color: #b7dd90;
            width: 100%;
            height: 5rem;
            cursor: pointer;
            }
    .div7 { grid-area: 5 / 2 / 6 / 5;
            background-color: #94cf5c;
            width: 100%;
            height: 5rem;
            cursor: pointer;
            }
    .div8 { grid-area: 6 / 2 / 7 / 5;
            background-color: #99d5c9;
            width: 100%;
            height: 5rem;
            cursor: pointer;
            }
    .div9 { grid-area: 7 / 2 / 8 / 5;
            background-color: #6bc5b2;
            width: 100%;
            height: 5rem;
            cursor: pointer;
            }
    .div10 { grid-area: 8 / 2 / 9 / 5;
             background-color: #22aa91;
             width: 100%;
             height: 5rem;
             cursor: pointer;
             }
    .div11 { grid-area: 9 / 2 / 10 / 5;
             background-color: #f4e39a;
             width: 100%;
             height: 5rem;
             cursor: pointer;
             }
    .div12 { grid-area: 10 / 2 / 11 / 5;
             background-color: #f3d055;
             width: 100%;
             height: 5rem;
             cursor: pointer;
             }
    .div13 { grid-area: 11 / 2 / 12 / 5;
             background-color: #f3afa2;
             width: 100%;
             height: 5rem;
             cursor: pointer;
             }
    .div14 { grid-area: 12 / 2 / 13 / 5;
             background-color: #ed694e;
             width: 100%;
             height: 5rem;
             cursor: pointer;
             }
    .div15 { grid-area: 13 / 2 / 14 / 5;
             margin-top: 25px;
             width: 100%;
             height: 5rem;
             }
