<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="logo.png">
    <title>Toplomjer</title>
</head>
<body oncontextmenu="return false" class="snippet-body like">
<div class="wrapper" style="align-items:center; text-align:center; ; font-weight:500">
    <p style="margin-bottom: 32px; text-align:center; font-weight:500">
        Treba li vam određeni dio njege ili zdravstvene skrbi?

    </p>

    <button onclick = "window.location.href = '/form-end'" class="button-pain2" style="background-color:blue">Ljudski kontakt</button>
    <button onclick = "window.location.href = '/form-end'" class="button-pain2" style="background-color:purple">Duhovnost</button>
    <button onclick = "window.location.href = '/form-end'" class="button-pain2" style="background-color:red">Obitelj</button>
    <button onclick = "window.location.href = '/form-end'" class="button-pain2" style="background-color:green">Lijekovi</button>
    <button onclick = "window.location.href = '/form-end'" class="button-pain2" style="background-color:gray">Ne, hvala</button>






</div>

</body>
</html>