<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="logo.png">
    <title>Toplomjer</title>
</head>
<body oncontextmenu="return false" class="snippet-body like">
<div class="wrapper">


    <p style="margin-bottom: 32px; text-align:center; font-weight:500">
        Osjećate li bol?
    </p>


    <button onclick = "window.location.href = '/form-3?painLevel=0'"  style="background-color:#2cba00" class="button-pain">Nema boli</button>
    <button onclick = "window.location.href = '/form-21'" class="button-pain" style="background-color:#a3ff00">Slaba</button>
    <button onclick = "window.location.href = '/form-22'" class="button-pain" style="background-color:#fff400">Umjerena</button>
    <button onclick = "window.location.href = '/form-23'" class="button-pain" style="background-color:#ff0000">Teška</button>

    <button class="button-legenda">Legenda</button>
</div>

</body>
</html>