<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="style.css">
  <link rel="icon" type="image/png" href="logo.png">
  <title>Toplomjer</title>
</head>
<body oncontextmenu="return false" class="snippet-body like" style="background: linear-gradient(#ff9a00,#ff0000); ">
<div class="wrapper" >


  <p style="margin-bottom: 32px; text-align:center; font-weight:500">
    Kakva točno bol?
  </p>


  <button onclick = "window.location.href = '/form-3?painLevel=7'" class="button-pain2" style="background-color:	#ff9a00">Vrlo intenzivna</button>
  <button onclick = "window.location.href = '/form-3?painLevel=8'" class="button-pain2" style="background-color:	#ff7400">Užasna</button>
  <button onclick = "window.location.href = '/form-3?painLevel=9'" class="button-pain2" style="background-color:#ff4d00">Nepodnošljiva</button>
  <button onclick = "window.location.href = '/form-3?painLevel=10'" class="button-pain2" style="background-color:#ff0000">Nezamisliva i nepodnošljiva</button>

  <button class = "button-legenda">Legenda</button>
</div>

</body>
</html>