<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="logo.png">
    <title>Toplomjer</title>
</head>
<body oncontextmenu="return false" class="snippet-body like">
<div class="wrapper">


    <p th:text = "'Bok ' + ${currUser.firstName} + '!'" style="margin-bottom: 32px; font-size: 1.2rem;">
    </p>
    <p style="margin-bottom: 32px; text-align:center">
        Oznaci razinu boli koju trenutno osjecas
    </p>


        <button th:onclick = "|window.location.href = '/form-3?painLevel=0'|" class="button-pain">0</button>
        <button th:onclick = "|window.location.href = '/form-3?painLevel=1'|" class="button-pain">1</button>
        <button th:onclick = "|window.location.href = '/form-3?painLevel=2'|" class="button-pain">2</button>
        <button th:onclick = "|window.location.href = '/form-3?painLevel=3'|" class="button-pain">3</button>
        <button th:onclick = "|window.location.href = '/form-3?painLevel=4'|" class="button-pain">4</button>
        <button th:onclick = "|window.location.href = '/form-3?painLevel=5'|" class="button-pain">5</button>
        <button th:onclick = "|window.location.href = '/form-3?painLevel=6'|" class="button-pain">6</button>
        <button th:onclick = "|window.location.href = '/form-3?painLevel=7'|" class="button-pain">7</button>
        <button th:onclick = "|window.location.href = '/form-3?painLevel=8'|" class="button-pain">8</button>
        <button th:onclick = "|window.location.href = '/form-3?painLevel=9'|" class="button-pain">9</button>
        <button th:onclick = "|window.location.href = '/form-3?painLevel=10'|" class="button-pain">10</button>

</div>

</body>
</html>