<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="style.css">
  <link rel="icon" type="image/png" href="logo.png">
  <title>Toplomjer</title>
</head>
<body oncontextmenu="return false" class="snippet-body like" style="background:linear-gradient(#ffc100,#ff9a00, #ff7400)">
<div class="wrapper">


  <p style="margin-bottom: 32px; text-align:center">
    Kakvu točno?
  </p>


  <button onclick = "window.location.href = '/form-3?painLevel=4'" class="button-pain" style="background-color:#ffc100">Uznemirujuća</button>
  <button onclick = "window.location.href = '/form-3?painLevel=5'" class="button-pain" style="background-color:#ff9a00">Veoma uznemirujuća</button>
  <button onclick = "window.location.href = '/form-3?painLevel=6'" class="button-pain" style="background-color:#ff7400">Intenzivna</button>

  <button class = "button-legenda">Legenda</button>
</div>

</body>
</html>