<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="logo.png">
    <title>Toplomjer</title>
</head>
<body oncontextmenu="return false" class="snippet-body like">
<div class="wrapper" style="align-items:center; text-align:center; ; font-weight:500">

        <form action="form-end">
    <label for = "text"  >Želiš li nešto podijeliti sa mnom?</label>
    <div>
    <textarea id="text" name="text" rows="8"
              placeholder="&#10&#10&#10 Unesi ovdje..." style="width:100%;margin-top:32px;margin-bottom:32px; font-size:1rem;   border:solid 1px black;
"></textarea>
            <button class="button-next" type="submit" style="padding:1rem;     box-shadow: 2px 4px #888888;
 float:left; width:43%; margin:0">Ne, hvala</button>
            <button class="button-next" type="submit" style="padding:1rem;     box-shadow: 2px 4px #888888;
float:right;width:43%; margin:0" >Podijeli</button>
    </div>


</form>


</div>

</body>
</html>