<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="stil.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link rel="icon" type="logo.png" href="logo.png">
    <title>Emocionalni Toplomjer</title>
</head>
<body>
<button ><a th:href="@{'/addRecord?painLevel=200&id=' + ${patient.id}}">UNOS BOLI 200<a></button>

<div class="parent">
    <div class="div1"><img src="logo.png" style="width: 160px; height: 80px; padding-right: 60px;"></div>
    <div class="div2">
        <h4 style="text-align: center; margin-top: 25px;"><button style="padding: 7px; border-radius: 5px; ">
            <a href="https://healthitakademija2022.kbee.app/page/1f1IO2nnJViU9h3dD8SEVqJhDRiUaBYP6cfPxLrW6z7k/-Toplomjer-App-by-Nataa-Dumbovi" target="_blank" style="text-decoration:none; color: black;">Legenda</a></button></h4>
    </div>
    <div class="div3"><img src="user.png" style="width: 80px; height: 80px; margin-left: 80px; float: right;"></div>
    <div class="div4"><h3 style="text-align: center; margin-top: 35px; margin-bottom: 25px;" >Bok, <span th:text="${patient.firstName}">Pero</span> imate li kakve bolove?</h3></div>
    <div class="div5"><h5 style="text-align: center; margin-top: 25px;">0 - NEMA BOLI</h5></div>
    <div class="div6"><h5 style="text-align: center; margin-top: 25px;">1 - VRLO BLAGA</h5></div>
    <div class="div7"><h5 style="text-align: center; margin-top: 25px;">2 - NELAGODNA</h5></div>
    <div class="div8"><h5 style="text-align: center; margin-top: 25px;">3 - PODNOŠLJIVA</h5></div>
    <div class="div9"><h5 style="text-align: center; margin-top: 25px;">4 - UZNEMIRUJUĆA</h5></div>
    <div class="div10"><h5 style="text-align: center; margin-top: 25px;">5 - VEOMA UZNEMIRUJUĆA</h5></div>
    <div class="div11"><h5 style="text-align: center; margin-top: 25px;">6 - INTENZIVNA</h5></div>
    <div class="div12"><h5 style="text-align: center; margin-top: 25px;">7 - VRLO INTENZIVNA</h5></div>
    <div class="div13"><h5 style="text-align: center; margin-top: 25px;">8 - UŽASNA</h5></div>
    <div class="div14"><h5 style="text-align: center; margin-top: 25px;">9 - NEPODNOŠLJIVA</h5></div>
    <div class="div15"><h5 style="text-align: center; margin-top: 25px;">10 - NEZAMISLIVA I NEOPISIVA</h5></div>
    <div class="div16">
    </div>
    <div class="div17">
        <footer>Emocionalni Toplomjer <strong>&copy 2023.</strong></footer>
    </div>


</div>
</body>
</html>