    .parent {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            width: 100%;
            padding: 25px 0px 25px 0px;
            }
    .div1 { grid-area: 1 / 2 / 2 / 3;
            width: 100%;
            height: 5rem;
            }
    .div2 { grid-area: 1 / 3 / 2 / 4;
            width: 100%;
            height: 5rem;
            }
    .div3 { grid-area: 1 / 4 / 2 / 5;
            width: 100%;
            height: 5rem;}
    .div4 { grid-area: 2 / 2 / 3 / 5;
            background-color: white;
            width: 100%;
            height: 5rem;
            }
    .div5 { grid-area: 3 / 2 / 4 / 5;
            background-color:  white;
            width: 100%;
            height: 5rem;
            }

    .div6 { grid-area: 4 / 2 / 5 / 5;
            background-color: ;
            width: 100%;
            height: 5rem;
            }
    .div7 { grid-area: 5 / 2 / 6 / 5;
            background-color: ;
            width: 100%;
            height: 5rem;
            }
    .div8 { grid-area: 6 / 2 / 7 / 5;
            background-color: ;
            width: 100%;
            height: 5rem;
            }
    .div9 { grid-area: 7 / 2 / 8 / 5;
            background-color: ;
            width: 100%;
            height: 5rem;
            }
    .div10 { grid-area: 8 / 2 / 9 / 5;
             background-color: ;
             width: 100%;
             height: 5rem;
             }
    .div11 { grid-area: 9 / 2 / 10 / 5;
             background-color: ;
             width: 100%;
             height: 5rem;
             }
    .div12 { grid-area: 10 / 2 / 11 / 5;
             background-color: ;
             width: 100%;
             height: 5rem;
             }
    .div13 { grid-area: 11 / 2 / 12 / 5;
             background-color: ;
             width: 100%;
             height: 5rem;
             }
    .div14 { grid-area: 12 / 2 / 13 / 5;
             background-color: ;
             width: 100%;
             height: 5rem;
             }
    .div15 { grid-area: 13 / 2 / 14 / 5;
             background-color:;
             width: 100%;
             height: 5rem;
             }
    .div16 { grid-area: 14 / 2 / 15 / 5;
              margin-top: 10px;
              width: 100%;
              height: 5rem;
                          }
    .div17 { grid-area: 14 / 2 / 15 / 5;
              margin-top: 10px;
              width: 100%;
              height: 5rem;
           }


    footer {
      right: 0;
      bottom: 0;
      left: 0;
      padding: 2rem;
      background-color: #efefef;
      text-align: center;
    }

.button-primary-override:hover,
.button-primary-override:active,
.button-primary-override:focus,
.button-primary-override:visited{
     opacity: 1 !important;
    border-color: #333 !important;
    background-image: none !important;
    border: 1px solid black !important;
}